node_modules
.*
!.travis.yml
!.editorconfig
!.npmignore
!.gitignore
!.vscode
!.github
analysis.json
pb-elements.json
./assets
images/leaflet
css/
dist
build
lib/*
!lib/openseadragon.min.js
docs/
*.iml
