node_modules
.*
!.travis.yml
!.gitattributes
!.editorconfig
!.npmignore
!.gitignore
!.vscode
!.github
!.eslintrc.json
analysis.json
pb-elements.json
./assets
images/leaflet
css/
dist
build
lib/*
!lib/openseadragon.min.js
docs/
*.iml
migration_plan/
test/cypress/screenshots/
test/cypress/videos/
test/cypress/downloads/