name: Build and Test

on:
  pull_request:
    branches: [ master, next* ]

  push:
    branches:
      - next*
      - '**consolidate-lit**'

  workflow_dispatch:

jobs:
  test-fast:
      name: Cypress Component Tests
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run Cypress Component Tests
        run: npm run cy:run:ct

  e2e:
      name: Cypress E2E Tests
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Build (production)
        run: npm run build:production
      - name: Run Cypress E2E Tests
        run: npm run cy:run:e2e
