name: Release npm package

on:
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed
    branches:
      - master
      - next-4

jobs:
  release:
    # Only release if Build and Test workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@v5
        with:
            fetch-depth: 0
      - uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: npm
          cache-dependency-path: package-lock.json
      - name: npm install
        run: npm ci --omit=optional
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
